.contacts {
  background: url("../../img/zigzag-line-desktop.png") repeat-x top;
  padding-top: 40px;
  padding-bottom: 1px;
}

.contacts__wrapper {
  @include container-fluid;
}

.contacts__title {
  margin-bottom: 30px;
  padding: 0 30px;
  font: bold 24px/30px Tahoma, Arial, sans-serif;
}

.contacts__table {
  width: 100%;
  border-collapse: collapse;
  font: normal 14px/30px "OpenSans-Regular", Arial, sans-serif;
}

.contacts__table td {
  padding-bottom: 40px;
  vertical-align: top;
}

.contacts__table-item {
  padding-left: 8%;
  width: 30%;
}

.contacts__table-value {
  padding-right: 8%;
  width: 70%;
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin: 0 auto;
  background: url("../../img/map-mobile.jpg") no-repeat;

  @media ($retina) {
    background-image: url("../../img/map-mobile-2x.jpg");
    background-size: 320px auto;
  }
}

.contacts__write-btn {
  width: 230px;
  margin: 40px auto;
}


@media ($tablet-widths) {

  .contacts__title {
    position: relative;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__title .icon-flag {
    position: absolute;
    top: -15px;
    right: 0;
    width: 46.68px;
    height: 81.691px;
     fill: #62d1ba;
     color: #000000;
  }

  .contacts__table {
    font-size: 16px;
  }

  .contacts__table tr {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  .contacts__map {
    width: 668px;

    background: url("../../img/map-tablet.jpg") no-repeat ;

    @media ($retina) {
      background-image: url("../../img/map-tablet-2x.jpg");
      background-size: 768px auto;
    }
  }

}

@media ($desktop-widths) {

  .contacts {
    margin-bottom: 100px;
    padding-top: 60px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .contacts__title {
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 57px;
  }

  .contacts__title .icon-flag {
      left: -100px;
  }

  .contacts__info {
    width: 33%;
    margin-left: 175px;
  }

  .contacts__table {
    font-size: 16px;
    margin-bottom: 52px;
  }

  .contacts__table tr {
    display: block;
    width: 100%;
  }

  .contacts__map {
    width: 50%;
    background: url("../../img/map-desctop.jpg") no-repeat ;

    @media ($retina) {
      background-image: url("../../img/map-desctop-2x.jpg");
      background-size: 525px auto;
    }
  }

  .contacts__write-btn {
    margin-left: 175px;
    position: absolute;
    bottom: -40px;
  }

}
