.featured__wrapper {
  position: relative;
  margin-bottom: 30px;
  padding: 0 30px;
  font: normal 14px/24px "OpenSans-Regular", Arial, sans-serif;
}

.featured__title,
.featured__label {
  margin: 0;
  padding: 0;
}

.featured__label br {
  display: none;
}

.featured__title {
  margin-bottom: 12px;
  font: bold 24px/30px Tahoma, Arial, sans-serif;
}

.featured__label {
  margin-bottom: 30px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #a1e3d6;
}

.featured__desc {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

.featured__info {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
}

.featured__info tr {
  border-bottom: 1px solid #ececec;
}

.featured__info td {
  padding: 12px 0;
}

.featured__parametr {
  width: 100px;
}

.featured__img {
  margin-bottom: 30px;
  text-align: center;
}

.featured__price {
  margin-bottom: 30px;
  font: bold 18px/24px Verdana, Arial, sans-serif;
  text-align: center;
  color: #444444;
}

.btn {
  @include btn;
  width: 230px;
  margin: 0 auto;
}

 @media ($tablet-widths) {

   .featured__wrapper {
     @include container-fluid;
     display: flex;
     align-items: stretch;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-bottom: 50px;
     padding-left: 0;
     padding-right: 0;
   }

  .featured__title {
    flex-basis: 80.5%;
    margin: 0;
    margin-bottom: 58px;
    font-size: 40px;
    flex-grow: 1;
    line-height: 50px;
    padding: 0;
  }

  .featured__label {
    flex-basis: 13.8%;
    margin: 0;
    margin-bottom: 58px;
    padding-top: 12px;
    text-align: center;
  }

  .featured__intro {
    width: 44%;
    margin: 0;
  }

  .featured__desc {
    margin-bottom: 50px;
  }

  .featured__img {
    width: 51%;
    margin: 0;
    text-align: right;
  }

  .feature__ordered {
      position: absolute;
      bottom: 8px;
      width: 40.5%;
  }

}

@media ($desktop-widths) {

  .featured__wrapper {
    margin-bottom: 65px;
  }

  .featured__title {
    position: absolute;
    top: 60px;
    left: 175px;
    font-size: 50px;
    line-height: 57px;
  }

  .featured__label {
    position: absolute;
    width: 175px;
    top: 70px;
    left: 0;
  }

  .featured__intro {
    width: 290px;
    margin-top: 140px;
    margin-left: 175px;
  }

  .featured__img {
    width: 525px;
  }

  .feature__ordered {
    width: 290px;
    margin-left: 175px;
  }

}
