.order {
  margin: 0 auto;
  margin-bottom: 30px;
}

.order__title {
  margin: 0;
  margin-bottom: 29px;
  padding: 72px 0 80px 0;
  font: bold 24px/30px Verdana, Arial, sans-serif;
  text-align: center;
  background-color: #f1f1f1;
}

.order__wrapper {
  padding: 0 30px;
}

.order__desc {
  margin: 0;
  font: normal 14px/25px "OpenSans-Regular", Arial, sans-serif;
  // margin-bottom: -9px;
}

.order__desc br {
  display: none;
}

.order-form__filter-name {
    margin: 27px 0;
}

.order-form__filter-name p {
    position: relative;
    z-index: 2;
    display: inline;
    margin: 0;
    padding-right: 27px;
    font: bold 17px/17px "OpenSans-Bold", Arial, sans-serif;
    text-transform: uppercase;
    color: #63d1bb;
    background: #ffffff;
}
.order-form__filter-name::after {
    position: relative;
    top: -11px;
    z-index: 1;
    content: "";
    display: block;
    border-bottom: 2px solid #63d1bb;
}

.order-form__item-list,
.order-form__item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-radio,
.item-checkbox {
  display: none;
}

.item-radio + label,
.item-checkbox + label {
  display: flex;
  align-items: center;
  position: relative;
  height: 46px;
  margin-bottom: 22px;
  padding-left: 63px;
  font: bold 16px/19px Verdana, Arial, sans-serif;

  &:last-child {
    margin-bottom: 0px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 40px;
    height: 42px;
    border: 2px solid #000;
    border-radius: 50%;
  }

  &:hover {
    color: #62d1ba;
  }
  &:hover::before {
    border: 2px solid #62d1ba;
  }

  &:active {
    color: #c7c7c7;
  }
  &:active::before {
    border: 2px solid #c7c7c7;
  }
}

.item-radio:checked + label::after {
  content: '';
  position: absolute;
  top: 14px;
  left: 13.5px;
  width: 16px;
  height: 17px;
  border-radius: 50%;
  background-color: #62d1ba;
}

.item-radio:disabled + label,
.item-checkbox:disabled + label {
  color: #918F8F;

  &::before,
  &:hover::before {
    border: 2px solid #918F8F;
  }
}

.item-radio:checked:disabled + label {

  &::after {
    background-color: #918F8F;
  }
}

.item-checkbox + label::before {
  border-radius: 0;
}

.item-checkbox + label:nth-child(2) {
  // padding: 14px 0 14px 63px;
}

.item-checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: 13.5px;
  left: 10.5px;
  width: 21px;
  height: 17px;
  // background-color: #62d1ba;
  background: url("../../img/icon-tick.svg") no-repeat;
}

.order-form__type-list .item-radio {
  margin-bottom: 0;
}
.item-text {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  padding: 22px 35px 20px 0;
  font: normal 17px/19px Verdana, Arial, sans-serif;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;

  &::placeholder {color: #d2d2d2;}

  &:hover, &:active {border-bottom-color: #62d1ba;}
}

.item-text.error { border-bottom-color: #f0b1b1; }

.item-text__name {
  font: bold 17px/19px Verdana, Arial, sans-serif;
  margin-bottom: 0;
}

.item-box {
  position: relative;
}

.icon-phone {
  position: absolute;
  top: 20px;
  right: 0;
  width: 24px;
	height: 24px;
  fill: #cccccc;
}

.icon-mail {
  position: absolute;
  top: 20px;
  right: 0;
  width: 32px;
	height: 32px;
  fill: #cccccc;
}

.item-box:hover .icon-phone,
.item-box:active .icon-phone,
.item-box:hover .icon-mail,
.item-box:active .icon-mail {
  fill: #62d1ba;
}

.item-textarea {
  height: 145px;
  margin: 0;
  padding: 18px;
  border: 2px solid #000;
}

.order-form .btn {
  margin: 57px 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  outline: none;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }
  &:active {
    color: #7c7c7c;
  }
}

.requared-fill {
  display: none;
}

@media ($tablet-widths) {

  .order {
    margin-bottom: 55px;
  }

  .order__wrapper {
    padding: 0;
  }

  .order__title {
    position: relative;
    margin-bottom: 80px;
    padding: 100px 0 85px 0;
    font: bold 40px/50px Tahoma, Arial, sans-serif;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 24px;
      background: url("../../img/zigzag-fill-desktop.png") repeat-x bottom
    }
  }

  .order__desc {
    margin-bottom: 10px;
    padding: 0 50px;
    font-size: 16px;
    line-height: 30px;
  }

  .order__desc br {
    display: block;
  }

  .order-form__item-wrapper {
    @include container-fluid;
    display: flex;
    padding: 60px 0;
  }

  .order-form__item-wrapper.phone {
    padding-bottom: 0;
  }
  .order-form__item-wrapper.e-mail {
    padding-top: 0;
  }

  .order-form__item:nth-child(2n) {
    background-color: #f1f1f1;
  }

  .order-form__filter-name {
    flex-basis: 25%;
    margin: 0;
    padding-top: 12px;
    font-size: 16px;
    line-height: 16px;
  }

  .order-form__filter-name p {
      background: none;
  }
  .order-form__filter-name::after {
      display: none;
  }

  .order-form__item-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 75%;
  }

  .order-form__item-list.radio {
    display: flex;
    flex-direction: column;
  }

  .item-radio + label {
    font-size: 18px;
    line-height: 18px;
  }

  .item-checkbox + label {
    width: 182px;
    font-size: 18px;
    line-height: 18px;

    &:nth-child(10),
    &:nth-child(12) {
      margin-bottom: 0;
    }
  }

  .order-form__item-list-box {
    display: flex;
    width: 100%;
  }

.item-text {
  flex-grow: 1;
  box-sizing: border-box;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}
  .item-text__name {
    margin-right: 20px;
    font-size: 18px;
    line-height: 65px;
  }

  .order-form__item.name {
    flex-direction: column;
  }

  .order-form__item-box {
    display: flex;
    flex-direction: row;
  }
//
  .item-box {
    flex-grow: 1;
  }

  .item-phone,
  .item-mail {
    padding-right: 55px;
    background-color: #f1f1f1;
  }

  .icon-phone,
  .icon-mail {
    right: 20px;
  }

  .requared-fill-box {
    display: flex;
    justify-content: space-between;
  }

  .order-form .btn {
    margin: 0;
    width: 230px;
  }

  .requared-fill {
    display: block;
    text-align: right;
  }

}

@media ($desktop-widths) {

  .order {
    margin-bottom: 60px;
  }

  .order-form__item-wrapper.description {
    padding: 0;
  }

  .order__desc {
    width: 700px;
    margin: 0 175px;
    padding: 0;
  }

  .order-form__filter-name {
    flex-basis: 175px;
    text-align: center;
  }

  .order-form__item-list {
    flex-basis: 875px;
  }

  .item-radio + label:nth-child(4) {
    margin-bottom: 0;
  }

  .item-checkbox + label {

    &:nth-child(8),
    &:nth-child(10),
    &:nth-child(12) {
      margin-bottom: 0;
    }
  }

  .requared-fill-box {
    justify-content: flex-end;
  }

  .requared-fill {
    width: 470px;
    margin-right: 175px;
    text-align: right;
  }

}
